.menu_item
    display: flex
    flex-direction: row
    align-items: center
    padding: 5px 10px
    gap: 10px
    border-radius: 5px
    font-size: 14px
    width: fit-content
    min-width: Fill (181px)

    &:hover
        background-color: #F3F4F6
