@import './../../constants'

.dropdown_menu
    width: fit-content
    position: relative

    .trigger
        width: fit-content
        display: flex
        align-items: center
        text-align: left
        font-size: 1rem
        color: $gray_400
        border: 1px solid $gray_400
        border-radius: 5px
        background-color: $white_color
        padding: 10px
        cursor: pointer

        &:hover
            color: $primary_hover

        .left_container, .right_container
            display: flex
            align-items: center
            gap: 10px

    // menu items
    .list
        margin-top: 5px
        padding: 5px
        border: 1px solid $gray_100
        border-radius: 7px
        width: 100%
        box-shadow: 0px 5px 10px -3px #0000001A
        position: absolute

    // menu item
    .list_item
        display: flex
        align-items: center
        padding: 5px 10px
        justify-content: space-between
        list-style: none
        border-radius: 5px
        width: 100%

        &:hover
            background-color: $gray_100

        .left_content
            display: flex
            align-items: center

            .icon
                margin-right: 10px
                display: flex
                align-items: center
                justify-content: center
