.search_bar
    display: flex
    align-items: center
    gap: 10px
    padding: 10px
    border: 1px solid #A1A1AA
    border-radius: 5px
    color: #A1A1AA
    width: 40%

    &_input
        border: none
        outline: none
        font-size: 16px
        width: 100%
